@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';
@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap';

.darkslide-bg {
    background: linear-gradient(135deg, rgb(28, 27, 37) 0%, rgb(54, 50, 86) 92%);
    overflow: clip;
}

.drawer-bg {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.overclock {
    font-family: 'Overlock', sans-serif!important;
    font-weight: 500;
    font-size: 32px!important;
}

.orbitron {
    font-family: 'Orbitron', sans-serif!important;
    font-weight: 600!important;
    font-size: 32px!important;
    font-style: italic;
}

.protest-revolution {
    font-family: "Protest Revolution", sans-serif!important;
    font-weight: 400!important;
    font-style: normal;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif!important;
}

.vote:active {
    animation: pulse 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.clink {
    position: relative;
    z-index: 1;
}

.clink::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #FFF;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.clink:hover::before {
    transform: scaleX(1);
    transform-origin: center left;
}

.clink:hover {
    color: #424242!important;
}

.links {
    position: absolute;
    bottom: 2.5em;
    background: rgba(255, 255, 255, .1);
    max-width: 500px;
}

.links a {
    padding: 4px;
    color: white!important;
}